body {
background-color: #123daa;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #1b3001;
color: rgb(8, 224, 239);
font-family: "Bai Jamjuree", sans-serif;
}